.footer {
	padding: 20px 0;

	color: var(--white);

	background-color: var(--slateGray);

	font-size: 16px;
	line-height: 20px;

	@media (max-width: 1199px) {
		text-align: center;

		font-size: 12px;
		line-height: 20px;
	}

	&Container {
		display: grid;
		grid-template-columns: 1fr auto;
		gap: 0 10px;

		@media (max-width: 1199px) {
			grid-template-columns: 1fr;
		}
	}
}

.footer span {
	white-space: nowrap;
}


