.wrapper {
	display: grid;

	min-height: 100vh;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: auto;
	gap: 30px;
	grid-template-areas:
		"header"
		"body"
		"footer";

	@media (max-width: 991px) {
		gap: 30px 20px;
	}

	@media (max-width: 641px) {
		gap: 30px 0;
	}
}

.header {
	grid-area: header;
}

.sidebar {
	grid-area: sidebar;
}

.body {
	grid-area: body;
}

.footer {
	grid-area: footer;
}
