@import-normalize
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,300;8..60,400;8..60,500;8..60,600;8..60,700;8..60,800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
#root {
  height: 100vh;
  width: 100%;
}

:root {
  /* Typography */
  --ff_main: 'Source Serif 4', serif;
  --fs-main: 16px;
  --fw-main: 400;
  --lh-main: 1.2;

  /* Main color */
  --danger: #C71254;
  --warning: #F0C20C;
  --success: #6ECC39;
  --primary: #0D47A1;

  /* Accent color */
  --darkAccent: #2C5E83;
  --accent: #459DDD;
  --lightAccent: #B3D8FC;

  /* Neutral Color */
  --black: #000;
  --darkGray: #4a4a4a;
  --gray: #969FA8;
  --lightGray: #EEEFF0;
  --white: #FFF;

  /* Slate Gray */
  --darkSlateGray: #0E293E;
  --slateGray: #42596A;
  --lightSlateGray: #969FA8;

  /* Other */
  --radii: 0.5rem;
}

body[data-theme='dark'] {
  --colors-text: var(--lightGray);
  --colors-bg: var(--darkGray);

  --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
}
body[data-theme='light'] {
  --colors-text: var(--darkGray);
  --colors-bg: var(--lightGray);

  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body {
  font-family: var(--ff_main);
  font-size: var(--fs-main);
  font-weight: var(--fw-light);
  line-height: var(--lh-main);
  color: var(--colors-text);
  background-color: var(--colors-bg);
  @media (max-width: 991px){
    font-size: 14px;
  }
  @media (max-width: 767px){
    font-size: 12px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}