html,
body {
	margin: 0;
	padding: 0;

	color: var(--darkSlateGray);

	font-family: var(--ff_main);
	font-size: 1.6vw;
	line-height: 1.2;

	@media (max-width: 991px){
		font-size: 2vw;
	}
	@media (max-width: 767px){
		font-size: 15px;
	}
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	/* Font */
	--ff_main: 'Source Serif 4', serif;

	/* Main color */
	--danger: #C71254;
	--warning: #F0C20C;
	--success: #6ECC39;
	--primary: #0D47A1;

	/* Accent color */
	--darkAccent: #2C5E83;
	--accent: #459DDD;
	--lightAccent: #B3D8FC;

	/* Neutral Color */
	--black: #000;
	--darkSlateGray: #0E293E;
	--slateGray: #42596A;
	--lightSlateGray: #969FA8;
	--darkGray: #99A2AA;
	--gray: #A9A9A9;
	--lightGray: #EEEFF0;
	--white: #FFF;
}

.container {
	width: 100%;
	max-width: 1800px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

	@media (max-width: 1921px){
		max-width: 1434px;
	}
	@media (max-width: 1493px){
		max-width: 1140px;
	}
	@media (max-width: 1199px){
		max-width: 962px;
	}
	@media (max-width: 991px){
		max-width: 738px;
	}
	@media (max-width: 767px){
		max-width: 100%;
		padding-right: 10px;
		padding-left: 10px;
	}
}