html,
body {
	margin: 0;
	padding: 0;

	color: var(--darkSlateGray);

	font-family: var(--ff_main);
	font-size: 1.6vw;
	line-height: 1.2;
}

@media (max-width: 991px) {
	html,
	body {
		font-size: 2vw;
	}
}

@media (max-width: 767px) {
	html,
	body {
		font-size: 15px;
	}
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	/* Font */
	--ff_main: 'Source Serif 4', serif;

	/* Main color */
	--danger: #C71254;
	--warning: #F0C20C;
	--success: #6ECC39;
	--primary: #0D47A1;

	/* Accent color */
	--darkAccent: #2C5E83;
	--accent: #459DDD;
	--lightAccent: #B3D8FC;

	/* Neutral Color */
	--black: #000;
	--darkSlateGray: #0E293E;
	--slateGray: #42596A;
	--lightSlateGray: #969FA8;
	--darkGray: #99A2AA;
	--gray: #A9A9A9;
	--lightGray: #EEEFF0;
	--white: #FFF;

	/* Media Query */
	--desktop: 1493px;
	--laptop: 1199px;
	--tablet: 991px;
	--mobile: 641px;
}
