html,
body {
	margin: 0;
	padding: 0;

	color: var(--neutral-dark);

	font-family: var(--ff_main);
	font-size: 1.6vw;
}

@media (max-width: 991px) {
	html,
	body {
		font-size: 2vw;
	}
}

@media (max-width: 767px) {
	html,
	body {
		font-size: 15px;
	}
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	/* Font */
	--ff_main: 'Source Serif 4', serif;

	/* Main color */
	--danger: #FC836D;
	--warning: #DCB44E;
	--success: #1DC37E;
	--primary: #459DDD;

	/* Neutral Color */
	--neutral-black: #000;
	--neutral-dark: #0E293E;
	--neutral-gray: #42596A;
	--neutral-light: #969FA8;
	--neutral-white: #FFF;
}
